bluemix/speechAppFlow.json
[{"id":"e8d27a2.5f98888","type":"websocket in","z":"712a67f7.977298","name":"","server":"9f40dcbb.031a4","client":"","x":107.5,"y":123,"wires":[["8472c1ee.8fbab"]]},{"id":"8a81420.c07b1c","type":"websocket out","z":"712a67f7.977298","name":"","server":"9f40dcbb.031a4","client":"","x":734.5,"y":186,"wires":[]},{"id":"28e93a0f.233686","type":"debug","z":"712a67f7.977298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":548.5,"y":245,"wires":[]},{"id":"9ff6f6f3.73de88","type":"comment","z":"712a67f7.977298","name":"WatsonAPI + GoogleAPI","info":"","x":127.5,"y":65,"wires":[]},{"id":"15e29176.a7eb6f","type":"google places","z":"712a67f7.977298","reqType":"placesNearby","googleAPI":"","name":"places","lat":"","lon":"","query":"","radius":"","rankBy":"","keyword":"","language":"","minPrice":"","maxPrice":"","placeName":"","placeId":"","extensions":"","openNow":"","types":"","outputnumber":"5","outputas":"single","x":783.5,"y":122,"wires":[["e957b82e.628648"]]},{"id":"8472c1ee.8fbab","type":"watson-speech-to-text","z":"712a67f7.977298","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"ELzcyTVHVPQr","payload-response":true,"streaming-mode":false,"streaming-mute":true,"discard-listening":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":272.5,"y":122,"wires":[["8aaf220e.46bdd"]]},{"id":"95121a5b.686d18","type":"watson-text-to-speech","z":"712a67f7.977298","name":"TTS","lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"ja-JP_EmiVoice","voicehidden":"","format":"audio/mp3","password":"ers3tSVur0Sv","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":215.5,"y":187,"wires":[["47d6f00.acacc1"]]},{"id":"47d6f00.acacc1","type":"function","z":"712a67f7.977298","name":"onmessage","func":"let _onmessage = {\n    'places': msg.data,\n    'audioBuffer': msg.speech,\n    'text': msg.payload,\n};\nmsg.payload = _onmessage;\nflow.set('places_debug',_onmessage);\nreturn msg;","outputs":1,"noerr":0,"x":372.5,"y":187,"wires":[["8a81420.c07b1c"]]},{"id":"81d1ff9b.7f0de","type":"google geocoding","z":"712a67f7.977298","name":"geocode","geocodeBy":"address","address":"","lat":"","lon":"","googleAPI":"","bounds":"","language":"","region":"","components":"","x":524.5,"y":122,"wires":[["bc4ddd8a.62a2"]]},{"id":"8aaf220e.46bdd","type":"function","z":"712a67f7.977298","name":"input","func":"let _location = {'address': msg.payload};\nmsg.location = {'address': msg.payload};\nmsg.language = 'ja';\nreturn msg;","outputs":1,"noerr":0,"x":394.5,"y":122,"wires":[["81d1ff9b.7f0de"]]},{"id":"bc4ddd8a.62a2","type":"function","z":"712a67f7.977298","name":"input","func":"msg.location.radius = 1000;\n//msg.keyword = 'food';\nmsg.language = 'ja';\nmsg.minprice = 0;\nmsg.maxprice = 2000;\n//msg.name = '';\nmsg.types = 'cafe';\n\nreturn msg;","outputs":1,"noerr":0,"x":655.5,"y":122,"wires":[["15e29176.a7eb6f"]]},{"id":"e957b82e.628648","type":"function","z":"712a67f7.977298","name":"input","func":"let _max = 3;\nlet _txt = '該当結果を'+_max+'件おしらせします。';\nfor(var i = 0; i < _max; i++) {\n    let _current = i + 1;\n    let _name = msg.data.results[i].name;\n    _txt += _current + '件目は'+_name+'です。';\n}\nmsg.payload = _txt;\nreturn msg;","outputs":1,"noerr":0,"x":89.5,"y":186,"wires":[["95121a5b.686d18"]]},{"id":"27c24baa.602814","type":"play audio","z":"712a67f7.977298","name":"","voice":"","x":745.5,"y":245,"wires":[]},{"id":"b7d9e2ab.be0a","type":"websocket in","z":"712a67f7.977298","name":"","server":"17ca6718.5c3a39","client":"","x":124.5,"y":343,"wires":[["1729c394.da2edc"]]},{"id":"f43a94ed.9be8d8","type":"websocket out","z":"712a67f7.977298","name":"","server":"17ca6718.5c3a39","client":"","x":698.5,"y":341,"wires":[]},{"id":"1729c394.da2edc","type":"function","z":"712a67f7.977298","name":"debug","func":"msg.payload = flow.get('places_debug');\nreturn msg;","outputs":1,"noerr":0,"x":404.5,"y":342,"wires":[["f43a94ed.9be8d8"]]},{"id":"f73d46d1.a33a38","type":"comment","z":"712a67f7.977298","name":"Debug[DummyData]","info":"","x":104.5,"y":293,"wires":[]},{"id":"9f40dcbb.031a4","type":"websocket-listener","z":"","path":"/speech/places","wholemsg":"false"},{"id":"17ca6718.5c3a39","type":"websocket-listener","z":"","path":"/speech/places/debug","wholemsg":"false"}]
